li{
    border:1px solid black; 
    list-style: none;
    height: 70px;
}
article{
    display:flex; 
    height:90%; 
    justify-content: center; 
    align-items:center;
}
#team_a, #team_b{
    float:left;
    width:500px;
    margin-right:20px; 
    border:1px solid black;
}
.img{
    float:left;
    width: 70px;
    height: 70px;
    margin-right:10px;
}
.champ_name{
    float:left;
    width:300px;
    height: 70px; 
    line-height: 70px; 
    font-size:20px; 
    font-weight: bold; 
}
#user_input{
    float:right;
}
#champ_count{
    width:50px;
}
.dice{
    margin-top: 4px;
    width:70px;
    height:61px;
}
